.dashboard-container {
  width: 100%;
  padding: 20px;
}

/* HEADER */
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 20px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-logo {
  width: 120px;
}

.header-center {
  width: 40%;
}

.search-box {
  background: #f7f8fa;
  border-radius: 50px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-box input {
  border: none;
  outline: none;
  width: 100%;
  background: transparent;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.premium-btn {
  color: #2b74ff;
  cursor: pointer;
  font-weight: 500;
}

.notif-icon {
  font-size: 22px;
}

.profile-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-img {
  width: 40px;
  border-radius: 50%;
}

.profile-info .name {
  font-weight: 600;
}

.profile-info .role {
  font-size: 12px;
  color: grey;
}

/* GRID SUPERIOR */
.dashboard-top-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20px;
}

/* GRID INFERIOR */
.dashboard-bottom-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr;
  gap: 20px;
}

/* CARDS */
.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
}

.tabs {
  display: flex;
  gap: 15px;
  margin: 10px 0;
}

.tab {
  padding: 6px 14px;
  border-radius: 6px;
  background: #f0f0f0;
  cursor: pointer;
}

.tab-active {
  background: #d0e4ff;
  color: #2574ff;
  font-weight: 600;
}
