.dashboard-layout {
  padding: 20px;
  margin-left: 260px; /* espacio del sidebar */
}

.dash-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.dash-search {
  width: 260px;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.dash-select {
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.dashboard-top-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

.dashboard-bottom-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr;
  gap: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 18px;
  border-radius: 12px;
  background: #fff;
}

.sales-tabs, .tabs-row {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.tab {
  padding: 6px 14px;
  background: #f2f2f2;
  border-radius: 6px;
  border: none;
}

.tab.active {
  background: #dce8ff;
  color: #2a6df2;
  font-weight: bold;
}

.sales-amount, .wallet-amount {
  font-size: 34px;
  font-weight: bold;
  margin-top: 20px;
}

.chart-bar-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.chart-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar {
  width: 24px;
  background: #1173f2;
  border-radius: 4px;
}

.zone-content p {
  margin: 8px 0;
}
